<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Register - Malcolm's TinyApp</title>
</head>

<body>
  <%- include('partials/_header') %>
    <h3>Create an Account</h3>
    <form action="/register" method="POST">
      <div>
        <label for="email">Enter your email:</label>
        <input type="email" name="email">
      </div>
      <div>
        <label for="password">Create a password:</label>
        <input type="password" name="password">
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
</body>

</html>